{% extends 'quiz/base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'quiz/styles/genra.css' %}">
    <title>英単語アプリ</title>
</head>
<body>
    <div id="app">
        <div class="for-pc">
            <h1>👋 ジャンルを選択する👋</h1><p>&nbsp;</p>
            <fieldset>
                <input id="品詞" class="radio-inline__input" type="radio" name="accessible-radio" value="中3" checked="checked"/>
                <label class="radio-inline__label" for="品詞">
                    品詞
                </label>
                <input id="留学で使う" class="radio-inline__input" type="radio" name="accessible-radio" value="高1"/>
                <label class="radio-inline__label" for="留学で使う">
                    留学で使う
                </label>
                <input id="歴史" class="radio-inline__input" type="radio" name="accessible-radio" value="歴史"/>
                <label class="radio-inline__label" for="歴史">
                    歴史
                </label>
                <input id="学校生活" class="radio-inline__input" type="radio" name="accessible-radio" value="学校生活"/>
                <label class="radio-inline__label" for="学校生活">
                    学校生活
                </label>
            </fieldset>
        </div>

        <div class="for-sp">
            <h1 class="for-sp-h1" >👋 ジャンルを選択する👋</h1><p>&nbsp;</p>
            <fieldset>
                <input id="品詞" class="radio-inline__input" type="radio" name="accessible-radio" value="中3" checked="checked"/>
                <label class="radio-inline__label" for="品詞">
                    品詞
                </label>
                <input id="留学で使う" class="radio-inline__input" type="radio" name="accessible-radio" value="高1"/>
                <label class="radio-inline__label" for="留学で使う">
                    留学で使う
                </label>
                <input id="歴史" class="radio-inline__input" type="radio" name="accessible-radio" value="歴史"/>
                <label class="radio-inline__label" for="歴史">
                    歴史
                </label>
                <input id="学校生活" class="radio-inline__input" type="radio" name="accessible-radio" value="学校生活"/>
                <label class="radio-inline__label" for="学校生活">
                    学校生活
                </label>
            </fieldset>
        </div>

    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="{% static 'quiz/scripts/genra.js' %}"></script>
</body>
{% endblock %}