{% extends 'quiz/base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'quiz/styles/solve.css' %}">
    <title>英単語アプリ</title>
</head>
<div id="app">
    <div class="for-pc">
        <!-- <question-component :question-set="{{ test_set }}" :num-question="{{ num_question }}" :post-url="{% url 'quiz:result' %}"/> -->
        <question-component :question-set="{{ test_set }}" :num-question="{{ num_question }}"/>
    </div>
    <!-- <div class="for-sp">
        <question-component :question-set="{{ test_set }}"/>
    </div> -->
</div>
<body>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="{% static 'quiz/scripts/solve.js' %}"></script>
</body>
{% endblock %}