{% extends 'quiz/base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'quiz/styles/wordlevel.css' %}">
    <title>英単語アプリ</title>
</head>
<body>
    <div id="app">
        <div class="for-pc">
            <h1>👋 学年を選択する👋</h1><p>&nbsp;</p>
            <fieldset>
                <input id="中3" class="radio-inline__input" type="radio" name="accessible-radio" value="中3" checked="checked"/>
                <label class="radio-inline__label" for="中3">
                    中3
                </label>
                <input id="高1" class="radio-inline__input" type="radio" name="accessible-radio" value="高1"/>
                <label class="radio-inline__label" for="高1">
                    高1
                </label>
                <input id="高2" class="radio-inline__input" type="radio" name="accessible-radio" value="高2"/>
                <label class="radio-inline__label" for="高2">
                    高2
                </label>
                <input id="高3" class="radio-inline__input" type="radio" name="accessible-radio" value="高3"/>
                <label class="radio-inline__label" for="高3">
                    高3
                </label>
            </fieldset>
        </div>

        <div class="for-sp">
            <h1 class="for-sp-h1" >👋 学年を選択する👋</h1><p>&nbsp;</p>
            <fieldset>
                <input id="中3" class="radio-inline__input" type="radio" name="accessible-radio" value="中3" checked="checked"/>
                <label class="radio-inline__label" for="中3">
                    中3
                </label>
                <input id="高1" class="radio-inline__input" type="radio" name="accessible-radio" value="高1"/>
                <label class="radio-inline__label" for="高1">
                    高1
                </label>
                <input id="高2" class="radio-inline__input" type="radio" name="accessible-radio" value="高2"/>
                <label class="radio-inline__label" for="高2">
                    高2
                </label>
                <input id="高3" class="radio-inline__input" type="radio" name="accessible-radio" value="高3"/>
                <label class="radio-inline__label" for="高3">
                    高3
                </label>
            </fieldset>
        </div>

    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="{% static 'quiz/scripts/wordlevel.js' %}"></script>
</body>
{% endblock %}