body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f0f0f0;
}

.result-container {
  margin: auto;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  /* background-color: #fff; */
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.result-title {
  text-align: center;
  /* color: black;
  background-color: beige;
  height: 15mm; */
  color: #364e96;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  border-top: solid 3px #364e96;/*上線*/
  border-bottom: solid 3px #364e96;/*下線*/
}

.score-board {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.message {
  margin: 20px 0;
  text-align: center;
  font-size: 1.2em;
  color: #008017;
}

.questions-list {
  margin: 20px 0;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.questions-list li.correct {
  background-color: #c6ebcd;
}

.questions-list li.incorrect {
  background-color: #ebcfc6;
}

/* マーカー線・赤 */
.marker{
  background:linear-gradient(transparent 65%, #ffadad 80%);
  font-weight:bold; 
  }

#result{
  text-align: center;
  font-size: larger;
}